body{
    padding-top: 70px;
}
#main_interface{
        max-width: 800px;
        margin: auto;
        text-align: center;
        font-family: "微軟正黑體";
}

#step_intro{
    background-color: rgb(217, 217, 217);
}
.disable_row{
        background-color: #DDD;
}
.first_col{
        min-width: 120px;
        font-size: 14pt;
}

.second_col{
        font-size: 12pt;
}

#title{
        font-size: 14pt;
}

#overall_polarity_hint_text{
        color:red;
}

.statement{
    color:blue;
}
.topic{
    color:blue;
    font-size:14pt;
}
.this_article{
    font-weight:bold;
}

.highlight_text{
    color:green;
    font-weight: bold;
}

.statement_row{
        background-color:rgb(218, 255, 218);
}

.label_row{
        background-color:rgb(255, 255, 171);
}

.label_row .second_col{
        font-size: 14pt;
}
.news_row{
        background-color: rgb(237, 237, 255);
}

#statement{
    font-size: 14pt;
}

#submit{
        width: 80px;
        height: 45px;
        font-size: 16pt;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
